
body
{
background-repeat:no-repeat;
}
h2
{
color: maroon;
margin-left: 50px;
}

p.normal
{
font-size:30px;
color:green;
font-style:italic;
text-decoration:underline;
text-transform:capitalize;
text-shadow:4px 10px 10px blue;
}

img
{

border:4px solid blue;opacity:0.3;
}

